// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$mg-background-blue: $#5b70e1;

$mg-btn-yellow:      $#f9ac04;

$mg-card-purple:     $#848ccf;
$mg-card-pink:       $#ed7071;
$mg-card-brown:      $#d49a89;

$mg-game-pink:       $#ec6b9e;
$mg-game-blue:       $#6fb5d9;
$mg-game-purple:     $#9683fe;
