#event-container {
  width:65vw;
  margin-left:3vw;
}


.cards-event {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:10px;
  justify-content:center;

}
 .card-event {
  color:$light-gray;
  height: 250px;
  width:210px;
  border-radius: 15px;
  background-color: $mg-game-pink;
  text-align: center;
 }

.card-event img {
  padding-top: 5px;
  background-position: center;
  border-radius:15px;
  object-fit:cover;
}

.card-event-body {
  padding: 10px;
}

.date-card-event {
  color: white;
  width: 800px;
  height: 325px;
  margin: 3vw;
  border-radius: 25px;
  padding: 5px;
  padding-top: 15px;
}

.invite-card-event {
  color: white;
  width: 800px;
  height: 150px;
  margin: 3vw;
  border-radius: 25px;
  padding: 20px 40px;
}

.input-date-event {
  color: white;
  width: 300px;
  height: 5px;
  margin: 5px;
  border-radius: 25px;
  padding-right: 10px;
}

.invite-card-bg{
  background-color: $mg-card-pink;
}

.event-box-date {
  border-radius: 16px;
  height: 40px;
  width: 300px;
}

.event-box-obj {
  border-radius: 25px;
  height: 100px;
  width: 490px;
}

.event-friend-size {
  height: 70px;
  width: 70px;
}

.fa-plus {
 color: white;
 font-size: 15px;

}

.select-friend-event {
  margin-bottom: 0;
}


.select-friend-event:hover {
  cursor: grab;

}

.parent-friend {
  display: flex;
}

.superpose-invite {
    position: relative;
    left: -20px;
    top: 45px;
    background-color: #5b70e1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=checkbox]:checked + label {
  font-style: normal;
  img {
    border: 2px solid white;
  }
  .superpose-invite {
    background-color: rgba(73,168,68,1);
  }
}

input[type=radio]:checked + label {
  font-style: normal;
  .card-game {
    border: 4px solid $mg-btn-yellow;
  }
}

.btn-create-event {
  text-align: center;
  margin-right: 42px;
}

.empty-game-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  width: 230px;
}
