.full-home-page {
  width: 100vw;
  overflow: hidden;
}

.right-part{
  height: 80vh;
  background-color: #5B70E1;
}

.log-sign-wall {
  background-color: $mg-background-blue;
  display: flex !important;
  justify-content: center;
  height:100vh;
}

.img-log-center {
  display: flex;
  justify-content:center;
}

.text-log-center {
  display: flex;
  justify-content:center;
}


.reduce-logo {
  width: 34%;
  text-align: center;
  display: block;
  margin: auto;
}
.reduce-img {
  width: 90%;
  height: 10%;
}

.part_log_align{
  min-height: calc(100vh - 70px);
}

.log-align {
  display: flex;

  h2{
  margin-right: 40px;
  }
}


.log-margin-top{
  margin-top: 200px;
  padding-left: 50px
}

.log-text-left-center {
   margin-left: 15%;
   margin-right: 15%;
}

.log-box-input{
  padding: 8px 24px;
  border-radius: 50px;
  height: 50px;
  width: 300px;
}

.link-grey {
  text-decoration: none !important;
  color: #F1AC17;
}
.link-grey:hover {
  text-decoration: none !important;
  color: #F1AC17;
  opacity: 0.7;
}
