.log-box-bio {
  padding: 8px 24px;
  border-radius: 50px;
  height: 200px;
  width: 630px;
}

.log-box-email {
  padding: 8px 24px;
  border-radius: 50px;
  height: 50px;
  width: 630px;
}

.sign-align-vertical {
  margin-top: 5%;
}

// .sign-align-center {
//   padding-left: 240px;
// }

.sign-login-margin {
  margin-top: 15px;
}

.sign-login-dgrid {
  display: grid;
}

.sign-title-center {
  text-align: center;
}

