  <!-- Card color -->
  <% color = ["#ec6b9e", "#6fb5d9", "#9683fe"] %>
  <% counter = 0 %>

<div id="game-card-container" class="container">
  <nav class="game">
    <div class="cards-game">
      <% if user_games.blank? %>
        <p class="text-center">sorry, you have no game</p>
      <% end %>
      <% user_games.each do |user_game| %>
        <div class="card-game" style="background-color:<%= color[counter] %>">
          <%= image_tag user_game.game.photo, height: 150, width: 230, crop: :fill%>
          <div class="card-game-body">
            <h3><%= user_game.game.name %></h3>
          </div>
        </div>
        <% counter += 1 %>
        <% if counter >= 3 %>
          <% counter = 0 %>
        <% end %>
      <% end %>
    </div>
  </nav>
</div>
