<div class="sidenav">
  <h1>My Games</h1>

    <%= link_to root_path do %>
    <i class="fas fa-house-user mr-2"></i>
    <% end %>

    <%= link_to root_path do %>
    <i class="far fa-calendar-alt mr-2"></i>
    <% end %>

    <%= link_to root_path do %>
    <i class="fas fa-user"></i>&nbsp;
    <% end %>
</div>
