<nav class="platform">
<div id="platform-card-container" class="container">


    <div class="cards-platform">
      <div class="card-platform bg-secondary">
        <%= image_tag "steam.png", height: 130, width: 200, crop: :fill%>
        <div class="card-platform-body">
          <h3> Steam </h3>
          <form>
            <div class="form-group">
              <label for="username"></label>
              <input type="email" class="form-control rounded-pill" id="username" placeholder="USERNAME">
            </div>

            <button type="submit" class="btn btn-primary rounded-pill">Ajouter</button>
          </form>
        </div>
      </div>

      <div class="card-platform bg-secondary">
        <%= image_tag "psnetwork.png", height: 130, width: 200, crop: :fill%>
        <div class="card-platform-body">
          <h3>PS Network</h3>
          <form>
            <div class="form-group">
              <label for="username"></label>
              <input type="email" class="form-control rounded-pill" id="username" placeholder="USERNAME">
            </div>
            <button type="submit" class="btn btn-primary rounded-pill">Ajouter</button>
          </form>
        </div>
      </div>

      <div class="card-platform bg-secondary">
        <%= image_tag "x-box.png", height: 130, width: 200, crop: :fill%>
        <div class="card-platform-body">
          <h3>Xbox Live</h3>
          <form>
            <div class="form-group">
              <label for="username"></label>
              <input type="email" class="form-control rounded-pill" id="username" placeholder="USERNAME">
            </div>
            <button type="submit" class="btn btn-primary rounded-pill">Ajouter</button>
          </form>
        </div>
      </div>

    </div>

</div>
</nav>
