<div class="d-flex">
  <div>
    <%= form_tag users_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search",
        placeholder: "Chercher des amis"
      %>
      <div>
        <!-- review btn classes => must use class that already exist -->
          <%= button_tag(type: "submit", class: "btn-outline-light btn-outline-light:hover btn-outline-light:active ml-2") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
