<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
        </div>
        <ul class="list-unstyled components">
          <br>
          <div class="avatar">
            <p>User Name</p >
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar", alt: "user_avatar" %>
          </div>

            <br>
            <br>
            <li class="active">
                <H3>Mes Amis</H3>
                <br>
                <ul>
                    <li>
                        <a href="#">Friend 1</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Friend 2</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Friend 3</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Friend 3</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Friend 3</a>
                    </li>
                </ul>
            </li>
            <br>
            <br>
            <li>
                <H3>Mes Événement</H3>
                <br>
                <ul>
                    <li>
                        <a href="#">Événement 1</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Événement 2</a>
                    </li>
                    <br>
                    <li>
                        <a href="#">Événement 3</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
