<div id="sidebar">
  <div class="row">
    <p class="mx-5 my-4">User Name</p>
     <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-sidebar", alt: "user avatar" %>
  </div>

  <br>
  <H3 class="mx-3">Mes Amis</H3>
  <br>

  <% current_user_first_3_friends.each do |friend| %>

<div class="mx-5 my-2">

    <% if friend.user2.photo.attached? %>
    <%= cl_image_tag friend.user2.photo.key, class: "avatar-friend" %>
    <% end %>
    <a href="#"><%= friend.user2.first_name %></a>
</div>
<% end %>

  <br>
  <H3 class="mx-3">Événement</H3>
  <br>

  <div class="card-sidebar-container">
    <div class="card-sidebar">
      <img class="card-sidebar img" src="https://lh3.googleusercontent.com/tjFx_uPUU3sOZxujIupK-DHCmJwbhBzUse6c80tTSqeSLeNILqHm7xo6uaEXrEEFm-aQkvFnS5BZmZhE5CRCqTgm" />
      <div class="card-sidebar-infos">
        <h2>Gagner contre Manchester</h2>
        <p ><strong class="card-sidebar-date">10 Aout</strong><strong> 19h00 / 23h00</strong></p>
        <a class="btn-accept" href="#">Accepter</a>
        <a class="btn-decline" href="#">Refuser</a>
      </div>
    </div>

    <div class="card-sidebar">
      <img class="card-sidebar img" src="https://lh3.googleusercontent.com/tjFx_uPUU3sOZxujIupK-DHCmJwbhBzUse6c80tTSqeSLeNILqHm7xo6uaEXrEEFm-aQkvFnS5BZmZhE5CRCqTgm" />
      <div class="card-sidebar-infos">
        <h2>Gagner contre Manchester</h2>
        <p ><strong class="card-sidebar-date">10 Aout</strong><strong> 19h00 / 23h00</strong></p>
        <a class="btn-accept" href="#">Accepter</a>
        <a class="btn-decline" href="#">Refuser</a>
      </div>
    </div>

  </div>
</div>
