<div class="wrapper">
  <nav id="sidebar">
    <div class="row">
      <p class="mx-5 my-4">User Name</p>
       <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-sidebar", alt: "user avatar" %>
    </div>
      <br>
        <H3 class="mx-3">Mes Amis</H3>
          <br>
            <div class="mx-3 my-2">
              <img class="avatar-friend" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
              <a href="#">Friend 1</a>
            </div>
            <br>
            <div class="mx-3 my-2">
              <img class="avatar-friend " alt="avatar" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
              <a href="#">Friend 2</a>
            </div>
            <br>
            <div class="mx-3 my-2">
              <img class="avatar-friend" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob" />
              <a href="#">Friend 3</a>
            </div>
              <br>
                <H3 class="mx-3">Événement</H3>
                  <br>
                    <div class="card-sidebar rounded">
                      <img class="rounded p-1" src="https://lh3.googleusercontent.com/tjFx_uPUU3sOZxujIupK-DHCmJwbhBzUse6c80tTSqeSLeNILqHm7xo6uaEXrEEFm-aQkvFnS5BZmZhE5CRCqTgm" />
                      <div class="card-sidebar-infos">
                        <h2>Gagner contre Manchester</h2>
                        <p>10 Aout <strong>19h00 / 23h00</strong></p>
                        <a href="#">Accepter</a>
                        <a href="#">Refuser</a>
                      </div>
                    </div>
                    <br>
                    <div class="card-sidebar">
                      <img class="rounded p-1" src="https://lh3.googleusercontent.com/tjFx_uPUU3sOZxujIupK-DHCmJwbhBzUse6c80tTSqeSLeNILqHm7xo6uaEXrEEFm-aQkvFnS5BZmZhE5CRCqTgm" />
                      <div class="card-sidebar-infos">
                        <h2>Gagner contre Manchester</h2>
                        <p>10 Aout <strong>19h00 / 23h00</strong></p>
                        <a href="#">Accepter</a>
                        <a href="#">Refuser</a>
                      </div>
                    </div>
    </nav>
</div>
