<h2 class="m-4">Créer un événement</h2>

<h3 class="m-4">1 - Sélectionner un jeu</h3>

  <%= render 'shared/game_card_new_event', user_games: @user_games %>

<h3 class="m-4">2 - Configurer l'événement</h3>
<h3 class="m-4">3 - Inviter des amis</h3>

