.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-top-sidebar {
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 30px;
}

.avatar-friend {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-game {
  width: 70px;
  border-radius: 50%;
  border: solid 1px white;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-xl {
  width: 170px;
  border-radius: 50%;
  margin-top: 25px;
}

.profile-pic {
  text-align:center;
  background-size: cover;
  padding:10px;
  border-radius:15px;
  color:white;
  font-weight: bold;
  height:35vh;
  width:60vw;
}
.profile-name {
  font-weight:bold;
  text-shadow: 1px 0px 1px $light-gray;
}

.avatar-search {
  position: relative;
  top: 20px;
  width: 100px;
  border-radius: 60%;
  border: white 1px solid;
}

#user {
  padding-top: 1px;
  padding-right: 15px;
  text-align: end;
  margin-bottom: 30px;
}
