.card-product {
  overflow: hidden;
  height: 100px;
  widows: 90%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 90%;
  width: 30%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

//CARD SIDEBAR//

.card-sidebar-container {
  padding: 0 15px;
}

.card-sidebar {
  overflow: hidden;
  height: 120px;
  widows: 90%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 15px;
  // position: absolute;


  .avatar-sb {
    margin-top: 38px;
    margin-left: auto;
    width: 40px;
    border-radius: 60%;
  }
}

.card-sidebar-img {
  height: 120px;
  width: 35%;
  object-fit: cover;
  border-radius-top-right: 0;
  border-radius-top-left: 15px;
  border-radius-bottom-right: 0;
  border-radius-bottom-left: 15px;
}

.first-info {
  margin-top: 14px;
  justify-content: space-between;
}

.card-sidebar h6 {
  font-size: 14px;
  font-weight: bold;
  margin: -1px;
  text-align: center;
}

.card-sidebar h2 {
  font-size: 14px;
  font-weight: bold;
  margin: -1px;
  text-align: center;
}

.card-sidebar p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0px;
}

.card-sidebar .card-sidebar-infos {
  padding: 10px;
  width: 64%;
}

.card-sidebar-date {
  height: 10%;
  width: 70%;
  background: #9683fe;
  color: #ffffff;
  border-radius: 5px;
  align-item: center;
  justify-content: center;
  padding: 8px 0px;
  margin-top: 41px;
  font-size: 14px;
}

.event-start {
  justify-content: center;
  padding: 5px 0;
  margin-left: 10px;
}

//CARD SEARCH RESULTS//
.cards-search {
  grid-gap:20px;
  justify-content:left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;

}

.card-search {
  color:$light-gray;
  height: 270px;
  width:230px;
  border-radius: 15px;
  text-align: center;
  margin:20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0,.1), 1px 1px 4px rgba(0, 0, 0,.1);
  transition: .4s;

  .banner {
    background-image: url(https://source.unsplash.com/9AmKnNZw3GA/1000x400);
    background-size: cover;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    p {
      display: block;
      padding: 20px;
      text-align: end;
    }
  }

  .info-user {
    margin-top: 60px;
  }
}

.card-search-container {
  padding: 0px 15px;
  align-content: flex-start;
}

.card-search p {
  font-size: 15px;
  line-height: 1.4;
  font-weight: bold;
  margin-top: 5px;
  align-items: center;
  color: white;
}

.card-search-img {
  padding-top: 0px;
  background-position: cover;
  border-radius:15px 15px 0 0;
  object-fit:cover;
}
