.card-product {
  overflow: hidden;
  height: 100px;
  widows: 90%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 90%;
  width: 30%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

//CARD SIDEBAR//

.card-sidebar-container {
  padding: 0 15px;
}

.card-sidebar {
  overflow: hidden;
  height: 110px;
  widows: 90%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 15px;
}

.card-sidebar-img {
  height: 110px;
  width: 30%;
  object-fit: cover;
  border-radius-top-right: 0;
  border-radius-top-left: 15px;
  border-radius-bottom-right: 0;
  border-radius-bottom-left: 15px;
}

.first-info {
  margin-top: 0px;
}

.card-sidebar h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-sidebar p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0px;
}

.card-sidebar .card-sidebar-infos {
  padding: 10px;
}

.card-sidebar-date {
  height: 10%;
  width: 35%;
  background: $mg-background-blue;
  color: white;
  border-radius: 5px;
  align-item: center;
  justify-content: center;
  padding: 5px 0;
}

.event-start {
  justify-content: center;
  padding: 5px 0;
  margin-left: 10px;
}
