
.feed-card {
  color: white;
  width: 58vw;
  height:250px;
  margin: 2vw;
  border-radius: 25px;
  padding: 1vw;
}

.game-calendar-card {
  width: 60px;
  height: 50px;
  border-radius: 25px;
  text-align: center;


  p {
    margin: auto auto;
  }
}



.feed-card-img {
  object-fit: cover;
  margin: 10px;
  margin-left: 30px;
  width: 280px;
  height: 180px;
  border-radius: 15px;
}

.participant {
  margin-left: -18px;
}

.participants {
  margin-left: 15px;
}

.usergame-card {
  color: white;
  width: 58vw;
  height:180px;
  margin: 2vw;
  border-radius: 25px;
  padding: 1vw;
  font-size:17px;
}

.usergame-card-img {
  object-fit: cover;
  margin: 10px;
  margin-left: 30px;
  width: 200px;
  height: 130px;
  border-radius: 15px;
}
