
.friend-card {
  min-width: fit-content;
  color: white;
  width: 58vw;
  height:270px;
  margin: 2vw;
  margin-left:4.5vw;
  border-radius: 25px;
  padding: 1vw;
  box-shadow: 1px 1px 3px rgba(0, 0, 0,.1), 1px 1px 4px rgba(0, 0, 0,.1);
}

.friend-card-name {
  justify-content: center;
  white-space: nowrap;
  flex-direction: column;
}

.friend-name {
  font-size:20px;
  font-weight:bold;
}

.friend-card-name a {
  color:white;
}
.friend-platform-card {
  color:$light-gray;
  font-size:17px;
  font-weight: light;
  padding-bottom:3px;
  margin-left:6vw;
  padding-top: 3px;
  display:block;
}

.friend-platform-card img {
  object-fit:cover;
}

.friend-game-cards {
  color: $light-gray;
  padding-bottom:6px;

  font-size:19px;
  white-space: nowrap;
  display:block;
}

.friend-game-card {
  margin:0;
}

.friend-game-card img {
  width:70px;
  height:70px;
  border-radius:25%;
  flex-direction: column;
  line-height:30px;
  margin-bottom: 6px;
  border: solid 2px white;
  object-fit: cover;
}








