#show-container {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 25vw;
  margin-bottom: 80px;
  width:60vw;

}

.cards-game {
  display:flex;
  grid-gap:20px;
  justify-content:left;

}
 .card-game {
  color:$light-gray;
  height: 270px;
  width:230px;
  border-radius: 15px;
  background-color: $mg-game-pink;
  text-align: center;
  margin:20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0,.1), 1px 1px 4px rgba(0, 0, 0,.1);
 }

 .card-game:hover {
  transform: translate3D(0,-1px,0) scale(1.1); /* move up slightly and zoom in */
  box-shadow: 1px 1px 5px rgba(0, 0, 0,.3), 1px 1px 5px rgba(0, 0, 0,.3);
  transition: all .5s ease; /* zoom in */
  cursor: pointer;
}

.card-game img {
  padding-top: 5px;
  background-position: center;
  border-radius:15px;
  object-fit:cover;
}

.card-game-body {
  padding: 20px;
}

