#show-container {
  margin-left: 3vw;
  margin-top: 20px;
  margin-right: 25vw;
  margin-bottom: 80px;
  width:60vw;
}

.cards-game {
  display:flex;
  grid-gap:20px;
  justify-content:left;

}
 .card-game {
  color:$light-gray;
  box-sizing: content-box;
  height: 270px;
  width:230px;
  border-radius: 15px;
  text-align: center;
  margin:20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0,.1), 1px 1px 3px rgba(0, 0, 0,.1);
  transition: .4s;
 }

 .card-game:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0,.3), 1px 1px 5px rgba(0, 0, 0,.3);
  transition: all .5s ease; /* zoom in */
  cursor: pointer;
}

.card-game-hover:hover {
  transform: translate3D(0, 0,0) scale(1.1); /* move up slightly and zoom in */
}

.card-game-hover-none:hover {
  transform: none !important;
}

.card-game img {
  padding-top: 0px;
  background-position: cover;
  border-radius:12px 12px 0 0;
  object-fit:cover;
}

.card-game-body {
  padding: 20px;
}

//
// Helpful for the carousel-inner
//

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);
}
