
.sidenav {
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 8vw; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  position: sticky;
  top: 0; /* Stay at the top */
  left: 0;
  background-color: $mg-background-blue; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top:2%;
  text-align: end;
  line-height:90px;
  border-radius: 0 5px 5px 0;
  text-align: center;
  img {
  margin-right: 0px;
  margin-top:13px;
  color:white;
  }
}


/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  padding-right: 10%;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: $mg-btn-yellow;
}

.fa-house-user {
  content: "\f965";
  font-size: 32px;
  color:white;
  margin-bottom: 17px;
  transition: 0.5s;
}

.fa-house-user:hover {
  color: white;
  background-color:$mg-btn-yellow;
  border-width:1px 2px 3px 2px;
  border-radius: 25%;
  padding: 15px;
  margin-right:0;
  border-style:solid;
  border-color:$mg-btn-yellow;
  text-align:right;
}
.fa-calendar-alt {
  content: "\f073";
  font-size: 32px;
  color:white;
  margin-bottom: 17px;
  transition: 0.5s;
}
.fa-calendar-alt:hover {
  color: white;
  background-color:$mg-btn-yellow;
  border-width:3px;
  border-radius: 25%;
  padding: 15px;
  border-style:solid;
  border-color:$mg-btn-yellow;
  }


.fa-user-friends {
  content: "\f007";
  font-size: 32px;
  color:white;
  margin-bottom: 17px;
  transition: 0.5s;
}

.fa-user-friends:hover {
  color: white;
  background-color:$mg-btn-yellow;
  border-width:3px;
  border-radius: 25%;
  padding: 15px;
  border-style:solid;
  border-color:$mg-btn-yellow;
}

.fa-sign-out-alt {
  content: "\f073";
  font-size: 32px;
  color:white;
  margin-bottom: 17px;
  transition: 0.5s;
}
.fa-sign-out-alt:hover {
  color: white;
  background-color:$mg-btn-yellow;
  border-width:3px;
  border-radius: 25%;
  padding: 15px;
  border-style:solid;
  border-color:$mg-btn-yellow;
  }
