
.cards-platform {
  display:flex;
  grid-gap:15px;
  justify-content:left;

}
 .card-platform {
  color:$light-gray;
  height: 250px;
  width:210px;
  border-radius: 15px;
  margin:25px;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0,.1), 1px 1px 4px rgba(0, 0, 0,.1);
 }

 .card-platform:hover {
  transform: translate3D(0,-1px,0) scale(1.1); /* move up slightly and zoom in */
  box-shadow: 1px 1px 5px rgba(0, 0, 0,.3), 1px 1px 5px rgba(0, 0, 0,.3);
  transition: all .5s ease; /* zoom in */
  cursor: pointer;
}

.card-platform img {
  padding-top: 10px;
  background-position: center;
  border-radius:15px;
  object-fit:contain;
}

.card-platform-body {
  padding: 7px;
  object-fit:cover;
}
