.search {
  width: 25vw;
  border-radius: 50px;
  background-color: #EBEFF8;
  color: #8A8888;
  border: none;
  margin: 5px;
}

.searchbox {
  margin: 25px;
}

.btn-search {
  background: none;
  border: none;
  color: #8A8888;
  margin-left: -40px;
}
