.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 25vw;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    max-height: calc(100vh - 0rem);
    overflow-y: auto;
    z-index: 999;
    background: $light-gray;
    color: $gray;
    transition: all 0.3s;
    text-emphasis: none;

    .row {
      margin: 0;
    }
}

a {
  color: $gray;
}

.sidebar-name {
  margin-right: 120px;
}

.avatar-sidebar {
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 10px;
  right: 30px;
}

.add-event {
  font-size: 40px;
  color:$mg-background-blue;
}
