.usergame-card {
  color: white;
  width: 58vw;
  height:180px;
  margin: 2vw;
  border-radius: 25px;
  padding: 1vw;
  font-size:17px;
}

.usergame-card-img {
  object-fit: cover;
  margin: 10px;
  margin-left: 30px;
  width: 200px;
  height: 130px;
  border-radius: 15px;
}
