.usergame-card {
  color: white;
  width: 58vw;
  height:25vh;
  margin-right: 3vw;
  margin-left:4.5vw;
  border-radius: 25px;
  padding: 1vw;
  font-size:17px;

}

.usergame-card-img {
  object-fit: cover;
  margin: 4px;

  width: 17vw;
  height: 20vh;
  border-radius: 15px;
}
